anim_exports/
other_tools/
getValue.py
todo.md
backups/
scripts/logs/
scripts/place_cheat_table_here/eldenring.CT
scripts/place_cheat_table_here/TargetPointer.txt
scripts/place_cheat_table_here/WorldChrManPointer.txt
scripts/place_cheat_table_here/PausePointer.txt
animation_files/leonine_misbegotten/
scripts/animation_data.py
animation_files/animation_reset.py
scripts/__pycache__/