anim_exports/
other_tools/
getValue.py
todo.md
backups/
place_cheat_table_here/eldenring.CT
place_cheat_table_here/test.ct
place_cheat_table_here/TargetPointer.txt
place_cheat_table_here/WorldChrManPointer.txt
place_cheat_table_here/PlayerDead.txt
place_cheat_table_here/DataWritten.txt
place_cheat_table_here/PausePointer.txt
place_cheat_table_here/NeedTarget.txt
place_cheat_table_here/TargetFound.txt
scripts/__pycache__/